name: 'CI'

on:
  push:
    branches:
      - main
  pull_request:
    types: ['opened', 'edited', 'synchronize']

jobs:
  test:
    name: 'Test in: ${{ matrix.os }}, node-${{ matrix.node }}'
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14, 16]

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: set up node.js v${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: install dependencies
        run: pnpm i

      - name: test
        run: pnpm test

      - name: build
        run: pnpm build
